/* Font */
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800,900');

/* CSS */
@import url('./animations.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Note: this isn't supported on all browsers */
/* :root {
	--hackathing-black: #000000;
	--hackathing-white: #FFFFFF;
	--hackathing-yellow: #F6C92E;.description-container p
	--hackathing-red: #F4523A;
	--hackathing-orange: #F58E2E;
	--hackathing-blue: #4463B3;
	--hackathing-green: #67C1A4;
} */

/* Flex Box */
.flex {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}

.flexbox-row {
	display: flex;
	height: 100%;
}

._space-between {
	justify-content: space-between;
}

._direction-column {
	-webkit-flex-direction: column;
	flex-direction: column;
}

._direction-row {
	flex-direction: row;
}

._justify-center {
	justify-content: center;
}

._justify-right {
	justify-content: right;
}

/* Main Container */
body {
	height: 100%;
	width: 100%;
	font-family: 'Heebo', sans-serif;
	color: #414e6b;
	background: url("./../images/geometry_@2X.png") repeat;
	background-blend-mode: color-burn;
}

.index {
	background-color: rgba(135, 206, 255, 0.5);
}

.codeofconduct {
	background-color: rgba(103, 193, 164, 0.6);
}

.container {
	margin: 0 auto;
	padding: 0 2em;
	min-width: 300px;
	max-width: 1000px;
	animation: fadeup 1.5s;
	-webkit-animation: fadeup 1.5s;
	-moz-animation: fadeup 1.5s;
}

/* Header and Navigation */
header {
	font-family: 'Heebo';
	padding: 2em 0;
	margin-bottom: -3em;
	font-size: 1.1em;
}
header .nav-logo {
	color: #6677a0;
	letter-spacing: 1px;
	font-size: 22px;
}
header img {
	padding-left: 1em;
    margin-top: -3.8em;
	width: 6em;
	height: 150px; /* SAFARI */
}

header nav a {
	letter-spacing: 0.03em;
	text-decoration: none;
	color: #414e6b;
	padding-left: 0.6em;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

header nav a:hover,
.schedule-container ul .break {
	color: #d8693b;
	text-shadow: 0.07em 0.07em #414e6b;
}

/* Action */
.action-container, 
.codeofconduct-container {
	padding-top: 3em;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	
	
	flex-flow: column wrap;
}
  
.action-container h1,
.codeofconduct-container h1 {
    font-size: 5.4em;
	font-weight: 900;
	letter-spacing: 1px;
	text-align: center;
	margin: 0.8em auto 0 auto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.action-container h2,
.codeofconduct-container h2 {
	margin: -0.5em auto auto auto;
	font-style: italic;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    font-size: 1.6em;
	font-weight: 200;
	text-align: center;
	padding-bottom: 2em;
}

.action-container p {
	text-align: center;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	margin: 2em auto;
}

/* Code of Conduct */
.codeofconduct-container p {
	margin: -0.5em auto auto auto;
	align-self: center;
	text-align: center;
	font-size: 1.2em;
	line-height: 30px;
}

/* Registration */
.registration-container {
    margin: 3em auto 1.3em auto;
    width: 100%;
    text-align: center;
}

.registration-container .button {
	color: #000;
	background-color: orange;
	text-decoration: none;

    border: 1px solid transparent;

    border-radius: 1em 0.5em 0.22em 0;
    padding: 0.8em;
}
.registration-container .button:hover {
	background-color: #d8693b;
	-webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

.registration-container p {
	margin-top: 2em;
}

.registration-container p a {
	color: #FFFFFF;
}

/* Description */
.description-container {  /* TODO: shove flexbox things elsewhere */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;

}

.description-container p {
	padding-bottom: 5em;
	line-height: 1.5em;
	font-size: 1.1em;
	width: 670px;
	font-weight: 300;
	text-align: center;
}

/* Schedule */
.schedule-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}

/* Title Text */
.schedule-title,
.sponsors-title, 
.description-title,
.accessibility-title {
	display: -webkit-flex;
	display: flex;

	padding: 0.8em;
	font-size: 2.2em;
	font-weight: 500;

	align-self: center;
	-webkit-justify-content: center;
	justify-content: center;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/* Schedule Table */
.schedule-container ul {
	padding: 1em;
	list-style-type: none;
}

.schedule-container ul li {
	height: 70px; /* TODO: Can't Change This To "em"*/
}
.actions-item li {
	font-weight: 300;
}

/* need to chunk this up into groupine rules */

.schedule-container .times-item {
	 text-align: right;
	 width: 300px;
	 font-size: 1.8em;
}

.schedule-container .actions-item {
	width: 400px;
	font-size: 1.3em;
	line-height: 2.5em;
}

/* Sponsor */
.sponsors-container,
.accessibility-container {
	padding: 1.2em auto;
	text-align: center;
}

/* Logo */
.uvic_icon{
	height: 5em;
	width: auto; 
}

/* Media Queries */
@media (max-width: 700px) {
	.codeofconduct-container h1,
	.action-container h1 {
		font-size: 4em;
	}
	.description-container p,
	.codeofconduct-container p {
		text-align: justify;
		width: 450px;
	}
}

@media (max-width: 600px) {
	.hide {
		display: none;
	}

	.codeofconduct-container h1,
	.action-container h1 {
		font-size: 3.5em;
	}
}

@media (max-width: 500px) {
	header img {
		margin-left: -2em;
	}
	header nav a {
		padding-left: 0;
	}
	.code-of-conduct-p {
		padding-top: 3em;
	}
	.codeofconduct-container h1,
	.action-container h1 { 
		font-size: 2.5em;
	}
	.action-container h2,
	.codeofconduct-container h2 {
		font-size: 1.4em;
		padding-bottom: 2em;
	}
	.registration-container p {
		font-size: 0.8em;
	}
	.description-container p,
	.codeofconduct-container p {
		text-align: justify;
		width: 300px;
	}

	.schedule-container .times-item {
		font-size: 1.7em;
		height: 2em;
   }
	.schedule-container .actions-item {
		font-size: 1.1em;
		line-height: 1em;
		margin: 1.1em auto auto auto;
	}
}